.btn {
    outline: none;
    border: none;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-family: 'Dana';
    font-size: 1.6rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 200ms ease;
}

.btn:hover {
    background-color: var(--primary-dark-color);
}


/* media btn */

.media-btn {
    position: relative;
    border: none;
    margin: 10px;
    background-color: transparent;
}

.media-btn a {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
}

.media-btn a:hover {
    transform: translateY(-20px);
}

.media-btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s ease;
}

.media-btn a:hover::before {
    transform: skewX(45deg) translateX(-150px);
}

.media-btn a img {
    width: 3rem;
}

.instagram {
    color: rgba(10, 128, 236, 0.7);
}


/* btn introduction */
.cssbuttons-io {
    position: relative;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    border-radius: 3rem;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
}


.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background-color: var(--primary-dark-color);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io-white::before {
    background-color: var(--secondary-color);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}


/* like */
.like-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
}

.like-container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-top: 1rem;
}

#Glyph {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    transition: all 0.3s;
    fill: #9CA3AF;
}

#Glyph:hover {
    transform: scale(1.1) rotate(-10deg);
}

.like-container input:checked~#Glyph {
    fill: #2196F3;
}