/*
===================================
            CATEGORY STYLES
===================================
*/

.category-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem 4rem;
    margin-top: 8rem;
}

.category-box {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    background: #eef5fd;
    border-radius: 50%;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.category-box__img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-box__img img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.category-box__btn {
    position: absolute;
    bottom: -2rem;
    padding: 1rem 5rem;
    border-radius: 3rem;
    background-color: var(--white-color);
    font-family: var(--secondary-font);
    color: var(--primary-dark-color);
    font-weight: bold;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    transition: all 200ms ease-in-out;
    transition-delay: 50ms;
}

.category-box:hover .category-box__btn {
    bottom: -1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
}

/*
===================================
            INTRODUCTION STYLES
===================================
*/

.introduction {
    margin-top: 10rem;
    overflow: hidden;
}

.introduction__boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.introduction__box:nth-child(2) {
    background-color: var(--primary-dark-color);
}

.introduction__box {
    width: 55rem;
    height: 55rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    color: var(--white-color);
}

.introduction__box-left {
    width: 50%;
}

.introduction__box-img {
    width: 30rem;
}

.introduction__box-right {
    width: 50%;
}

.introduction__box-title {
    font-family: var(--secondary-font);
    font-size: 6rem;
    font-weight: bold;
    line-height: 6rem;
}

.introduction__box-text {
    color: #e7e7e7d8;
    margin: 3rem 0;
}

.introduction__box-btn-blue {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.introduction__box-btn-blue:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}


/*
===================================
            PRODUCT STYLES
===================================
*/
.products {
    margin-top: 5rem;
}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-header__title {
    font-size: 3.5rem;
    font-family: var(--secondary-font);
    color: #3F3F46;
    font-weight: bold;
}

.products-header__text {
    color: #505058;
    font-size: 2rem;
}

.products-header__link {
    color: var(--primary-dark-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: all 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.products-header__link:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.products-header__link-mobile {
    display: none;
    color: var(--primary-dark-color);
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}
.products-header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.8rem;
}

/* PRODUCT BOX */
.products-boxes {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.product-box {
    direction: rtl;
    width: 28rem;
    height: 35rem;
    background-color: var(--white-color);
    box-shadow: 0px 1px 10px 0px #0000000D;
    border-radius: 1.5rem;
    padding: 2rem;
    position: relative;
    cursor: pointer;
}

.product-box__off {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: var(--primary-dark-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1.4rem;
}

.product-box__images {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-box__img {
    width: 20rem;
}

.product-box__title {
    color: #3F3F46;
    font-weight: bold;
    margin-top: 2rem;
    font-size: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-box__price {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.product-box__price-text {
    color: var(--primary-color);
}

.product-box__price-text span {
    font-size: 1.4rem;
}

.product-box__price-off {
    font-size: 1.2rem;
    color: #EF4444;
}

.product-box__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.product-box__footer-left {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.product-box__footer-btn {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #F3F4F6;
    cursor: pointer;
    transition: all 200ms ease;
    color: #9CA3AF;
}

.product-box__btn-icon {
    font-size: 1.5rem;
}

.product-box__footer-btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.product-box__stars {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: -1rem;
}

.product-box__star-icon {
    color: #FACC15;
}



/*
===================================
            POPULAR STYLES
===================================
*/

.popular{
    margin-top: 10rem;
}



/*
===================================
            CLUB STYLES
===================================
*/

.club{
    width: 100%;
    height: 14rem;
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    margin-top: 8rem;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.club-right{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
.club__img img{
    width: 8rem;
}
.club__text {
    font-family: var(--secondary-font);
}
.club__text-title{
    font-size: 4rem;
    font-weight: bold;

}
.club__text-subtitle{
    font-size: 2rem;
}

.club__boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
.club__box{
    width: 9rem;
    height: 9rem;
    text-align: center;
    border-radius: 1.5rem;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem  1rem;
    cursor: pointer;
}
.club__box-svg{
    width: 4rem;
}
.club__box-text{
    color: var(--secondary-color);
    font-size: 1.4rem;
}


.club-left{
    display: flex;
    align-items: center;
}
.club__score{
    margin-right: 12rem;
    display: flex;
    flex-direction: column;
}
.club__score-title{
    font-size: 3rem;
    line-height: 2rem;
}
.club__score-subtitle{
    font-size: 1.4rem;
}
.club__score-link{
    margin-top: 0.8rem;
    width: 11rem;
    height: 3rem;
    font-size: 1.4rem;
    border-radius: 10rem;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding: 0  .5rem;
    background: linear-gradient(90deg ,  #FDBA74 100% , #FED7AA 100% );
}



/*
===================================
            ARTICLES STYLES
===================================
*/


.articles{
    margin-top: 8rem;
}
.articles__boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    margin-top: 4rem;
}
.article__box{
    width: 30rem;
    height: 28rem;
    padding: 1rem;
    box-shadow: 0px 1px 10px 0px #0000000D;
    border-radius: 1.6rem;
}
.article__box-img  {
    width: 100%;
    height: 18rem;
    overflow: hidden;
    border-radius: 16px  16px  16px 32px;
}
.article__box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article__box-text{
    margin: 1.6rem 0;
    display: flex;
    color: var(--text-color);
}
.article__box-text-right{
    padding-left:2rem ;
}
.article__box-title{
    font-size: 1.8rem;
}
.article__box-text-left{
    text-align: center;
    color: var(--primary-color);
}
.article__box-date{
    padding: 0 2rem;
    border-right: 1px solid #F3F4F6;
}