
/*
===================================
            SLIDER STYLES
===================================
*/

.swiper-container {
    margin: 3rem 10rem;
}
.swiper {
    height: 80vh;
    width: 100%;
    border-radius: 5rem;
}

.swiper-slide{
    width: 100%;
    height: 100%;
}

.slider-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}